/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header{
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo{
  font-size: 36px;
  padding: 20px 40px;
  float: left;
}

.header-list{
  float: left;
}

.header-list li{
  padding: 33px 20px;
  float: left;
}  

.main{
  padding: 100px 80px;
}  

.main h3{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.catchCopy h1{
  font-size: 140px;
}  

.catchCopy h2{
  font-size: 60px;
}  

.catchCopy span{
  color: #ff4a4a;
}  

.contents{
  height: 500px;
  margin-top: 100px;
}


.contents-item{
  font-size: 24px;
  float: left;
  margin-right:40px;
}

.contact-form{
  padding-top: 100px;
}

input, textarea{
  border: 1px, solid,#dee7ec;
  font-size: 18px;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-submit{
  background-color: #dee7ec;
  color: #889eab;
  border: 0px;
}