/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */

.btn{
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    opacity: 0.8;
    display: inline-block;
}

.btn:hover{
    opacity: 1;
}

.fa{
    margin-right: 5px;
}

.top-wrapper{
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 180px 0px 100px 0px;
}

.container{
    width: 1170px;
}

.top-wrapper h1{
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p{
    opacity: 0.7;
    margin-bottom: 15px;
}

.signup{
    background-color: #239b76;
    margin-bottom: 15px;
    margin-top: 15px;
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #55acee;
    margin-left: 10px;
}